.footer {
  width: 100%;
  max-width: 100vw;
  height: 50px;
  backdrop-filter: blur(10px);
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  background: rgba(0, 0, 0, 0.9);
  transition: all ease-in-out 0.4s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}
